@use "@/assets/styles/Variables" as *;

.edit-info {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;

  > .left {
    height: fit-content;
    width: 391px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px 30px;

    > .info-box {
      width: 180px;

      > p {
        font-size: 12px;
        color: $color5;
        margin-bottom: 5px;
      }
    }

    > .introduce {
      width: 100%;
    }
  }

  > .right {
    padding-top: 20px;
    width: 370px;

    > .image {
      margin-top: 24px;
    }

    > .head {
      margin-top: 20px;
    }
  }

  .save {
    font-size: 14px;
    margin-top: 6px;
  }
}