@use "@/assets/styles/Variables" as *;

.user-bar {
  height: 48px;
  display: flex;
  border-bottom: 1px solid $bg-color7;

  > li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 88px;
    cursor: pointer;
    color: $color2;
    font-size: 14px;
  }

  > .active {
    color: $color1;
    border-bottom: 1px solid $color1;
  }
}