@use "@/assets/styles/Variables" as *;

.attr-setting {
  $margin: 10px;
  display: contents;

  @for $i from 0 through 5 {
    .box1 {
      padding-bottom: $margin;
      border-bottom: 1px solid $bg-color1;
      > .header {
        font-size: 14px;
      }
    }

    .box#{$i} {
      color: $color5;
      font-size: 12px;
      padding-left: #{$i * 10}px;

      > .header {
        margin-top: $margin;
      }

      > .attr-box {
        padding-left: 0 #{$i * 10}px;

        > .attr {
          margin-top: $margin;
          display: flex;
          align-items: center;
          padding-left: 20%;

          > .string {
            width: 104px;
          }

          > .number {
            width: 90px;
          }

          > .boolean {
            width: 18px;
            aspect-ratio: 1 / 1;
          }

          > .color {
            width: 100px;
          }
        }
      }
    }
  }
}