@use "@/assets/styles/Variables" as *;

.collapse {
  height: 100%;
  width: 435px;
  background-color: $bg-color1;
  overflow: hidden;

  > ul {
    > li {
      color: $color2;

      > .header {
        cursor: pointer;
        height: 35px;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
        background-color: $bg-color1;

        > .icon {
          display: contents;
          font-size: 18px;
        }
      }

      > .main {
        background-color: $bg-color4;
        height: 100%;

        > .v-enter-active, > .v-leave-active {
          overflow: hidden;
          transition: max-height 0.3s ease-in-out;
        }

        > .v-enter-from, > .v-leave-to {
          max-height: 0 !important;
        }
      }
    }
  }
}