@use "@/assets/styles/Variables" as *;
@use "@/assets/styles/Mixins" as *;

.number-input {
  width: 100%;
  height: $input-height;
  display: flex;
  align-items: center;

  > input {
    width: 100%;
    @include input;

    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }

  > .arrow {
    aspect-ratio: 1 / 1;
    height: 100%;
    background-color: $bg-color5;
    cursor: pointer;

    > .btn {
      display: flex;
      justify-content: center;
      height: 50%;

      > .icon {
        font-size: 12px;
        color: $color6;
      }
    }

    > .up {
      border-bottom: 1px solid $bg-color1;
    }
  }
}