@use "@/assets/styles/Variables" as *;
@use "@/assets/styles/Mixins" as *;

.select {
  position: relative;
  min-width: 100px;
  cursor: pointer;

  > .content {
    display: flex;
    height: $input-height;

    > .value {
      display: flex;
      align-items: center;
      flex: 1;
      @include input;
    }

    > .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      aspect-ratio: 1 / 1;
      height: 100%;
      background-color: $bg-color5;

      > .icon {
        font-size: 14px;
        color: $color6;
      }
    }
  }

  > ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
    z-index: 2;
    border-radius: 2px;
    margin-top: 2px;
    width: 100%;
    position: absolute;

    > li {
      font-size: 12px;
      padding: 4px 10px;
      background-color: $bg-color1;
      color: $color6;

      &:hover {
        background-color: $color3;
        color: $bg-color4;
      }
    }
  }
}