@use "@/assets/styles/Variables" as *;

.authentication-button {
  text-align: center;
  display: inline-block;
  border-radius: 2px;
  cursor: pointer;
  padding: 6px 12px;
}

.default {
  color: $color4;
  background-color: $color3;
  border: 1px solid $color7;
}

.primary {
  color: $color3;
  background-color: $color1;
}