@use "Variables" as *;
@use "Mixins" as *;

.attr-setting {
  .attr-setting-main {
    > .box {
      @include collapse-box;

      > .level-content {
        height: 100%;
        padding: 10px 0 10px 50px;
      }

      > .box2 {
        padding: 0 20px;

        > .header {
          color: $color5;
          font-size: 13px;
        }

        > .level-content {
          padding: 10px 30px;
        }
      }

      .attr {
        display: flex;
        align-items: center;
        padding: 10px;

        > .name {
          font-size: 12px;
          color: $color5;
        }

        > .number, .text {
          width: 120px;
        }

        > .color {
          width: 130px;
        }

        > .check {
          width: 18px;
          aspect-ratio: 1 / 1;
        }
      }
    }
  }
}