@use "Variables" as *;

.authentication-input-password {
  display: flex;
  align-items: center;
  position: relative;

  > input {
    &::-ms-reveal {
      display: none;
    }
  }

  > .mode {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 18px;

    > span {
      color: $color2;
      cursor: pointer;
    }
  }
}