@use "Variables" as *;

.check-box {
  width: 100%;
  height: 100%;

  > label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: $bg-color5;

    > input {
      display: none;

      &:checked + span {
        display: block;
        color: $color1;
      }
    }

    > span {
      display: none;
      font-weight: bold;
      align-items: center;
      justify-content: center;
      font-size: 12px;
    }
  }
}