@use "Variables" as *;
@use "Mixins" as *;

.edit-password {
  width: 290px;

  .box {
    margin-top: 14px;
    display: flex;
    align-items: center;

    > p {
      width: 100px;
      color: $color5;
      font-size: 12px;
    }

    > :deep(.password) {
      height: 32px;

      > input {
        border: none;
        @include input;
        padding-right: 35px;
      }

      > .mode {
        font-size: 16px;
      }
    }
  }

  > .update {
    margin-top: 15px;
    font-size: 14px;
  }
}