$color1: #07bf84;
$color2: #90a0b3;
$color3: white;
$color4: #7f8184;
$color5: #b4c0d6;
$color6: #d8e1ea;
$bg-color1: #364761ff;
$bg-color2: #28374fff;
$bg-color3: #f0f4f7ff;
$bg-color4: white;
$bg-color5: #364761ff;
$bg-color6: #44546eff;
$bg-color7: #677999ff;
$input-height: 26px